[submodule "service-registry"]
	path = service-registry
	url = https://github.com/culeAkash/service-registry-movix.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/culeAkash/api-gateway-movix.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/culeAkash/config-server-movix.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/culeAkash/user-service-movix.git
[submodule "movie-service"]
	path = movie-service
	url = https://github.com/culeAkash/movie-service-movix.git
